
<div class="row mb-6">
	<div class="col-12 mb-6">
		<div class="">
				<h1 class="text-center page-title">BEVERAGES</h1>
		</div>
	</div>
</div>
<div class="row mb-4">
	<div ng-repeat="category in vm.bevs.categories" class="col-12 col-md-6">
		<div class="mb-3">
			<h3 class="text-center-md category-title mb-5">{{category.name}}</h3>
		</div>
		<div ng-repeat="bev in category.Items">

			<h4>{{bev.Name}}</h4>	
			<p>{{bev.Description}}</p>
			<p>{{bev.Price | currency}}</p>
		</div>
		<div ng-if="category.info" class="alert" style="border-color: #664d01; background-color: white;">{{category.info}}</div>
	</div>
</div>